{% extends 'base.html.twig' %}

{% block title %}Categorías{% endblock %}

{% block body %}

{% include 'cabecera.html.twig' %}

<h1 style="text-align:center; margin-top:30px;">CATEGORÍAS DE PRODUCTOS</h1>

<div style="text-align:center; margin-top:20px;">
    {% for categoria in categorias %}
        <p>
            <a href="{{ path('productos', { 'categoria': categoria.getId() }) }}">
                {{ categoria.getNombre() }}
            </a>
        </p>
    {% endfor %}
</div>

{% endblock %}
