{% extends 'base.html.twig' %}

{% block title %}Hello ACategoriasController!{% endblock %}

{% block body %}
    <h1>CATEGORIAS DE PRODUCTOS</h1>
    
    {% for categoria in categorias %}
        <p><a href="{{ path('productos', {'id': categoria.getId()}) }}">{{ categoria.getNombre() }}</a></p>
        {% endfor %}
{% endblock %}